body {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}

body, h1, h2, h3, h4, p, button {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 40%;
    min-width: 800px;
    background-color: white;
    box-shadow: -4px 4px 0px 0px #948e7b, -8px 8px 0px 0px #524a34;
}

.container h4 {
    max-width: 70%;
    margin: 20px auto;
}

h1 {
    margin-top: 50px;
    text-align: center;
    color: #9caf6a;
}

h4 {
    text-align: center;
    color: gray;
}

p {
    font-size: 14px;
}

.banner {
    position: relative;
}

.banner img {
    width: 100%;
    height: auto;
}

.banner .nav {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.banner .nav a {
    padding: 10px 15px;
    background-color: darkgray;
    border: 1px solid gray;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.banner .nav a.selected {
    outline: 3px solid black;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.flex {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer .column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.footer .copyright {
    align-self: center;
    margin-top: 30px;
    font-size: 14px;
}
.team-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 50px;
}

.team-member {
    margin: 0 10px;
    width: 33%;
    box-sizing: border-box;
}
.team-member:nth-child(1){
    margin-left: 20px;
}
.team-member:nth-child(3){
    margin-right: 20px;
}

.team-member img {
    width: 100%;
    height: auto;
}

.titleTeam{
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: left;
    width: 90%;
}   

.subTeam{
    margin: 20px 20px;
    width: 90%;
}

.dish-title{
    margin-left: 40px;
    margin-bottom: 20px;
    text-align: left;
    width: 90%;
}   

.dish-sub{
    margin: 20px 40px;
    width: 90%;
}

.dish-container{
    margin: 40px 0;
}

.dish-column {
    text-align: center;
}

.dish-column h2 {
    font-size: 1.2em;
    font-weight: 500;
    color: #9caf6a;
    margin: 0 10;
}

.dish-column .price {
    color: black;
    margin: 0;
    font-weight: 400;
    font-size: .8em;
    display: inline-block;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 40px 40px;
    background-color: #f5f4f1; 
}

#contact-form label,
#contact-form input,
#contact-form textarea {
    width: 90%;
    margin-bottom: 10px;
    margin-left: 20px;
}

#contact-form textarea{
    height: 100px;
}